/* valid for evrthing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
/* element selector */
p {
  font-family: "Rampart One", cursive;
  font-size: 20px;
  color: blueviolet;
}
/* id selector */
#particular {
  color: chartreuse;
  background-image: url(https://source.unsplash.com/featured?technology);
  background-repeat: no-repeat;
  background-position: center;
  width: max-content;
  height: 150px;
}
/* class selector */
.para {
  color: rgb(88, 74, 69);
  background-color: goldenrod;
}
footer,
span {
  color: darkred;
  background-color: deeppink;
}
.basics {
  background-color: rgb(219, 147, 12);
  border: 3px solid blueviolet;
  margin: 50px;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
}
